/* Custom styles for the hero/parallax effect */
.parallax {
	/* ensures the image covers the element */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* fixed attachment creates the basic parallax effect on desktop */
	background-attachment: fixed;
}

/* Mobile browsers often ignore background-attachment: fixed; provide a fallback */
/* @media (max-width: 768px) {
	.parallax {
		background-attachment: scroll;
	}
} */
.loader {
  
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 300px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  
}
@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }}


.scrolldown {

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
}
.scrolldown i {
  padding-left: 9px;
}
.scrolldown a:hover,
.scrolldown a:focus,
.scrolldown a:active {
  color: #151515 !important;
}

html[data-useragent*="MSIE 10.0"] .scrolldown,
.oldie .scrolldown {
  display: none;
}

.scroll-icon {
  
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff !important;
  background: transparent;
  
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

/* vertical animation */
@-webkit-keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
@keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);  
    opacity: 0;                   
  }
  100% {
    transform: translateY(0);     
    opacity: 1;                   
  }
}

.slide-up {
  animation: slideUp 1s ease-out;
 
  position: relative;
}